{% extends 'layouts.html' %}

{% block header %}
<ul class="s-header__nav">
    <li><a href="{% url 'home' %}" title="">Home</a></li>
    <li class="has-children">
        <a href="#0" title="">Categories</a>
        <ul class="sub-menu">
            {% for i in all_categories %}
            <li><a href="{% url 'category' i.slug %}">{{ i.name }} | {{ i.blog_set.all|length }}</a></li>
            {% endfor %}
        </ul>
    </li>
    <li><a href="{% url 'about' %}" title="">About</a></li>
    <li><a href="{% url 'contact' %}" title="">Contact</a></li>
    {% if request.user.is_anonymous %}
    <li><a href="{% url 'register' %}" title="">Sign Up</a></li>
    {% else %}
    <li class="current"><a href="{% url 'createPost' %}" title="">Add New Post</a></li>
    <li><a href="{% url 'logout' %}" title="">{{request.user}} | Log Out</a></li>
    {% endif %}

</ul> <!-- end header__nav -->
{% endblock %}

{% block content %}
<section class="s-pageheader">
    <div class="row current-cat">
        <div class="column">
            <h1 class="h2">Add A New Post</h1>
        </div>
    </div>
</section>

<form method="POST" enctype="multipart/form-data"
      style="display: block; margin-left: auto; margin-right: auto; width: 50%;">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" name="Save">
</form>

{% endblock %}